
.container__secao {
    margin: 0 1.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .container__secao--conteudo {
    padding-bottom: 4rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
  }
  
  .container__secao--conteudo--textos-titulo {
    font-size: 2.6rem;
    color: var(--azul-principal);
    font-weight: 600;
  }
  
  .container__secao--conteudo--textos-infos {
    font-size: 1.5rem;
    color: #4A4A4A;
  }
  