
.rodape {
    background: var(--azul-principal);
    padding: 3.2rem;
    text-align: center;
    color: var(--branco);
    font-size: 1.5rem;
  }
  
  .rodape__nav--lista {
    display: flex;
    justify-content: center;
    gap: 3.5rem;
    padding: 1.5rem 0;
  }
  
  .rodape__nav--lista--whatsapp::before {
    content: url("/assets/Whatsapp.svg");  
  }
  
  .rodape__nav--lista--instagram::before {
    content: url("/assets/Instragam.svg");  
  }
  
  .rodape__nav--lista--tiktok::before {
    content: url("/assets/Tiktok.svg");  
  }
    .rodape__nav--lista--facebook::before {
        content: url("/assets/Facebook.svg");  
    }  